.header {
    display: flex;
    justify-content: center;
    height: 90px;
}

.navbar {
    height: 90px;
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .headerText {
    font-size: 25px;
    font-weight: 500;
    color: white;
}