.header {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
    z-index: 3;
}

.navbar {
    background-color: #19191b;
    height: 90px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
}

.navbar .headerText {
    font-size: 25px;
    font-weight: 500;
    color: white;
}