.searchBox {
    display: flex;
    align-items: center;
    background-color: #25272C;
    border-radius: 15px;
    padding: 0 15px;
}

.searchBox .searchInput {
    height: 50px;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    width: 350px;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 14px;
}